@font-face {
  font-family: "Treasure";
  src: url("./fonts/Treamd.ttf")
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

body {
  background-color: black;
  background-image: url("./images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2 {
  font-weight: 400;
  margin: 0;
}

.App-header {
  color: white;
  padding: 2rem 1rem;
  font-family: "Treasure", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  justify-content: space-between;
  text-shadow: 2px 2px 5px black;
}

.App-title {
  color: rgb(235, 231, 20);
  font-size: 5vw;
}

.App-intro {
  font-size: large;
}

.logo {
  height: 10vw;
  margin: 0 2rem;
}

.wrapper {
  width: 80%;
}

.score {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

/* MODAL */
.wrapper-modal {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-modal, .score-modal {
  font-size: 10rem;
  color: yellowgreen;
  font-family: "Treasure", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 5px black;
}

.score-modal {
  font-size: 3rem;
  color: white;
}